<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        Testing header
    </header>

    <div id="main">
        <menu>

        </menu>
        <main>
            <table>
                <% list.array.forEach(element => { %>
                <tr><td><%= x.fullName %></td><td><%= x.email %></td></tr>
                <% }); %> 
            </table>
        </main>
    </div>
</body>

</html>