<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        Testing header
    </header>

    <div id="main">
        <menu>

        </menu>
        <main>
            <table id="users">
                <% list.forEach(x => { %>
                <tr>
                    <td><%= x.fullName %></td>
                    <td><%= x.email %></td>
                    <td>
                        <form method="POST" action="/users/update">
                            <input value=<%= x._id %> name="_id" readonly>
                            <input type="text" name="fullName" placeholder="New name">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                </tr>
                <% }); %>
            </table>
            <hr>
            <form method="POST" action="/users/new">
                <input type="text" name="fullName" placeholder="New name">
                <input type="email" name="email" placeholder="New email">
                <input type="submit" value="Create">
            </form>
        </main>
    </div>
</body>

</html>